{% if telegraf.snmp is defined %}
[[inputs.snmp]]
  agents = [ {% for device,port in telegraf.snmp.hosts.items() %}"{{device}}:{{port}}" {% if not loop.last %}, {%endif%}{% endfor %}]
  name_prefix = "snmp_"
  interval = "10s"
  version = 2
  community = "{{telegraf.snmp.community}}"

  [[inputs.snmp.field]]
    name = "hostname"
    oid = ".1.3.6.1.2.1.1.5.0"
    is_tag = true

  [[inputs.snmp.field]]
    name = "uptime"
    oid = ".1.3.6.1.2.1.1.3.0"
 
  
  [[inputs.snmp.field]]
    name = "sysObjectID"
    oid = ".1.3.6.1.2.1.1.2.0" 

  [[inputs.snmp.table]]
    name = "bgp_statistics"
    inherit_tags = [ "hostname" ]
    oid = "BGP4-MIB::bgpPeerTable"
    [[inputs.snmp.table.field]]
      name = "bgpPeerState"
      oid = ".1.3.6.1.2.1.15.3.1.2"
      is_tag = true
    [[inputs.snmp.table.field]]
      name = "bgpPeerRemoteAddr"
      oid = ".1.3.6.1.2.1.15.3.1.7"
      is_tag = true

  [[inputs.snmp.table]]
    name = "routing_statistics"
    inherit_tags = [ "hostname" ]
    oid = "IP-FORWARD-MIB::inetCidrRouteTable"
    [[inputs.snmp.field]]
      name="inetCidrRouteNumber"
      oid="IP-FORWARD-MIB::inetCidrRouteNumber"
    [[inputs.snmp.table.field]]
      name = "inetCidrRouteDest"
      oid = "IP-FORWARD-MIB::inetCidrRouteDest"
      is_tag = true
    [[inputs.snmp.table.field]]
      name = "inetCidrRouteProto"
      oid = "IP-FORWARD-MIB::inetCidrRouteProto"
      is_tag = true

  [[inputs.snmp.table]]
    name = "interfaces_statistics"
    inherit_tags = [ "hostname" ]
    oid = "IF-MIB::ifTable"
    [[inputs.snmp.table.field]]
      name = "ifName"
      oid = ".1.3.6.1.2.1.31.1.1.1.1"
      is_tag = true
{% endif %}

[[outputs.influxdb]]
  urls = ["http://influxdb:8086"]
  database = "juniper"
  timeout = "5s"
  username = "juniper"
  password = "juniper"

[agent]
  quiet = true
  debug = false


